mixin video(video)
    a(href=`/videos/${video._id}`).videolist__item
        div.videolist__thumbnail(style=`background-image: url(/${video.thumbnail_url}); background-size: cover; background-position: center`)
        div.videolist__data
            span.videolist__title=video.vlog_title
            div.videolist__meta
                span #{video.owner.user_name} &middot; 
                span #{video.meta.views} 회
