doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/statics/css/style.css")
  body 
    header
      h1=pageTitle
      nav 
        ul 
          li 
            a(href="/") Home
          li 
            a(href="/search") Search 
          if loggedIn
            li 
              a(href="/videos/upload") Upload Video
            li
              a(href=`/users/${loggedInUser._id}`) My Profile
            li 
              a(href="/users/edit") Edit #{loggedInUser.user_name}의 프로필 
            li 
              a(href="/logout") Log out
          else 
            li 
              a(href="/join") Join 
            li 
              a(href="/login") Login 
          li 
            a(href="/join2") Join member
    main 
      block content
  include partials/footer
  script(src="/statics/js/main.js")
