extends base

block content 
  section.section.section--video
    div#videoContainer.video-container
      input(type="hidden", value=video._id)#videoId
      video(src=`/${video.file_url}`, autoplay)
      div#videoController.controller 
        div.controller__play
          span#play.controller__play-btn 
            i.fas.fa-play 
          div.controller__time
            span#currentTime 00:00
            span.split /
            span#totalTime 00:00
        input(type="range", step="1", value="0", min="0")#timeline.controller__timeline 
        div.controller__volume
          input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
          span#mute 
            i.fas.fa-volume-up
        div 
          button#fullScreen 
            i.fas.fa-expand

    hr

    if String(video.owner._id) === String(loggedInUser._id)
      div.video-owner
        span 
          a(href=`${video.id}/edit`).video-owner__edit 📝 Edit Video
        span 
          button(type="button")#deleteVideo.btn-delete.btn-delete--video ❌ Delete Video

    div.video-info 
      p.video-info__desc=video.vlog_desc
      small.video-info__published-date=video.published_date 
      small.video-info__owner Uploaded By 
          a.userpage(href=`/users/${video.owner._id}`) #{video.owner.user_name}

    
      div.comments 
        if loggedInUser._id
          form#commentForm.comment__form
            textarea(placeholder="Write down a comment....")
            button.btn.btn--comment Add Comment

        ul.comments__list
          each comment in video.comments.reverse()
            li
              i.fas.fa-comment 
              div.comments__content #{comment.comment_text} 
              div.comments__meta
                span.comments__date #{`${new Date(comment.published_date).getFullYear()}-${new Date(comment.published_date).getMonth()+1}-${new Date(comment.published_date).getDate()}`}
                span.comments__user #{comment.owner.user_name}
              if String(comment.owner._id) === String(loggedInUser._id) 
                button.btn-delete.btn-delete--comment(data-id=comment._id) ❌


block scripts 
  script(src="/statics/js/videoPlayer.js")
  if loggedInUser._id
    script(src="/statics/js/commentSection.js")