extends base

block content 
  div#videoContainer.video-container
    video(src=`/${video.file_url}`, autoplay)
    div#videoController.video-controller 
      button#play Play 
      button#mute Mute 
      div 
        span#currentTime 00:00 
        span / 
        span#totalTime 00:00
      div 
        label(for="volume") volume
        input(type="range", step="0.2", value=0.5, min="0", max="1")#volume
      div 
        label(for="timeline") timeline
        input(type="range", step="1", value=0, min="0")#timeline
      div 
        button#fullScreen Enter full screen
//-
  div 
    p=video.vlog_desc
    small=video.published_date 

  div 
    small Uploaded By 
      a(href=`/users/${video.owner._id}`) #{video.owner.user_name}
    
  hr

  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
  script(src="/statics/js/videoPlayer.js")